html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #fff;
  color: #111;
  font-size: 16px;
  font-family: roboto;
  scroll-behavior: smooth;
}

@keyframes mobileNavSlideDown {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 0px;
  }
}

@keyframes mobileNavSlideUp {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -300px;
  }
}

@keyframes linkAnimation {
  to {
    border: 2px solid #ff6584;
  }
}

@keyframes ctaButtonAnimation {
  to {
    transform: scale(1.1);
  }
}

@keyframes sendAnimation {
  to {
    background: #ff6584;
  }
}

.fbIcon {
  color: #724bb7;
}

.fbIcon:hover {
  color: #ff6584;
}
